<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="G4_vo01Bs0jbIgyFJOMHsbYZM6U108KdS479srkZ89g" />
    <title><%- titlePage %></title>
    <link rel="icon" href="images/freeTorrent.png">
    <!-- Font Awesome -->
    <%- include('layout/mdbscript')-%>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Font Awesome -->
    
    <%- include('./adsense/adsense.ejs')  -%>
     
     <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-539GWS6');</script>
  <!-- End Google Tag Manager -->
  <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-539GWS6"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
    <div id="navbar"><%- include('./layout/navbar') -%></div>
    
<!-- freetorrents1 -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <div id="maincontentrouter">
            <div id="content">
              <div class="card p-4 mt-4">
                <div class="view overlay"><%- title %></div>
              </div>
              <div style="display: flex; flex-wrap: wrap" class="mt-4">
                <div style="flex: 80%" class="card p-4">
                  <div class="torrentinfo view overlay"><%- download %></div>
                </div>
              </div>
              <div class="card mt-4 p-4">
                <span class="view overlay"> <%- fileline.title%> </span>
                <div class="view overlay"><%- fileline.content %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card p-4 mt-4" id="rightbar">
            <div class="view overlay"><%- rightbar %></div>
          </div>
        </div>
      </div>
      <div class="card mt-4 p-4 most-search">
        <div class="view overlay"><%- mostSearch %></div>
      </div>
      <div class="card w-100 view overlay mt-4 p-4"> 
        <div id="fb-root"></div>
      <script
        async
        defer
        crossorigin="anonymous"
        src="https://connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v10.0&appId=834484133570773&autoLogAppEvents=1"
        nonce="n2LFfdUx"
      ></script>
      <div
      id="append"
        class="fb-comments"
        data-href=''
        data-width="2"
        data-numposts="5"
      ></div>
      
      </div>
      
    </div>
    <div id="footer"><%- include('./layout/footer') -%></div>
    <!-- JQuery -->
    <script>
      $(document).ready(function(){
        $('#append').attr('data-href', window.location.href)
      })
    </script>
  </body>
</html>
