<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="G4_vo01Bs0jbIgyFJOMHsbYZM6U108KdS479srkZ89g" />
    <link rel="icon" href="images/freeTorrent.png">
    <title><%- titlePage %></title>
    <%- include('layout/mdbscript')-%>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- adsense -->
       <%- include('./adsense/adsense.ejs')  -%>
    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-539GWS6');</script>
  <!-- End Google Tag Manager -->
  <!-- End Google Tag Manager -->
  </head>
  <body>
     <!-- End Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-539GWS6"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
    <section>
      <div id="navhome">
        <%- include('layout/navhome.ejs') -%>
      </div>
   
    </section>
    
    <class class="container-fluid">
      <section>
        <div class="lt-home">
          <div class="lt-container">
            <div class="mx-auto">
              <center>
                <img src="images/freeTorrent.png" alt="" id="logo-free-torrent">
              </center>
            </div>
            <div class="mt-4 form-search">
              <form
                class="form-inline mr-auto mb-4"
                method="post"
                action="/search"
              >
                <div class="container mt-4 p-4">
                  
                    <div class="view overlay">
                      <div class="row">
                        <div class="col-md-10">
                          <input
                            class="form-control mr-sm-2 w-100 view overlay card h-100"
                            type="text"
                            name="q"
                            placeholder="Enter keyword to search"
                            aria-label="Search"
                          />
                        </div>
                        <div class="col-md-2">
                          <button
                            class="btn btn-mdb-color btn-rounded btn-sm my-0-sm mx-auto waves-effect waves-light w-100"
                            type="submit"
                          >
                            Search
                          </button>
                        </div>
                      </div>
                    
                  </div>
                </div>
              </form>
            </div>
            
             <%- category %>
            
          </div>
        </div>
      </section>
      <section class="card view overlay container p-4 mb-4">
        <div>
          Welcome to FreeTorrents Home Page.
        </div>
        <div>Official Proxy Domains are : FreeTorrents.info</div>
      </section>
      <section class="card view overlay container p-4 torrents-block">
       <div style="display: inline-block;">
        <button type="button" class="btn btn-danger btn-sm btn-floating rounded-full">
          <i class="fa fa-info icon"></i>
        </button>
         <span style="font-weight: bold;">
          The download requires a torrent app
         </span>
       </div>
       <div>
        If you don't have it, you can download it here: 
         <span>
<a href="https://www.bittorrent.com/" class="links-app-torrent" target="_blank">BitTorrent</a>
<span>or</span>
         </span>
         <span>
<a href="https://www.utorrent.com/intl/fr/downloads/win" class="links-app-torrent" target="_blank">Utorrent</a>
         </span>
       </div>
      </section>
      <section>
        <div class="my-auto">
          <%- include('layout/footer.ejs') -%>
        </div>
      </section>
    </div>
    <script>
      $(document).ready(function(){
        $('.lt-search, .lt-logo, .lt-announcements').remove()
      })
    </script>
  </body>
</html>
