h2 {
  display: inline;
  font-size: 1.8em;
  font-weight: normal;
  font-family: Georgia,"Times New Roman", Times, serif;
}
.fileline {
  line-height: 20px;
  clear: left;
}
.csprite_doc_video {
  display: inline-block;
  width: 32px;
  height: 17px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -232px -0px;
}

.fileline {
  line-height: 20px;
  clear: left;
}
.filelinesize {
  color: #666;
  font-weight: bold;
  display: inline;
  font-size: 0.8em;
}
.downloadarea {
  margin-right: 3px;
  width: 210px;
  float: left;
}
.torrentinfo {
  font-size: 0.9em;
  color: #666;
  float: left;
  display: inline;
}
.dltorrent a {
  text-decoration: none;
}

A:link, A:active, A:visited {
  color: #000;
  text-decoration: none;
}
.csprite_dltorrent {
  float: left;
  margin-right: 3px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -709px -85px;
}
.dltorrent p {
  padding-top: 6px;
  margin-left: 5px;
  font-size: 1.3em;
  font-family: Georgia,"Times New Roman", Times, serif;
}
.dltorrent p {
  padding-top: 6px;
  margin-left: 5px;
  font-size: 1.3em;
  font-family: Georgia,"Times New Roman", Times, serif;
}
.downloadareabig {
  margin-right: 3px;
  width: 200px;
  float: left;
}
.downloadareabig:nth-child(3n){
  display: none;
}
h1 {
  display: inline;
  font-size: 1.6em;
  font-weight: normal;
  font-family: Georgia,"Times New Roman", Times, serif;
}
.table2 th {
  border-top: 0;
  border-bottom: 1px solid #999;
  font-weight: normal;
  font-size: 1.2em;
  font-family: Georgia,"Times New Roman", Times, serif;
  background-color: #FFF;
}
.thleft {
  border-left: 0;
  border-right: 1px solid #999;
  text-align: left;
}
.table2 td {
  border-top: 0;
  border-bottom: 1px solid #999;
  padding: 8px;
}

.tdleft {
  border-right: 1px solid #999;
  text-align: left;
  font-size: 0.9em;
}

.tdleft a {
  color: #000;
}
A:link, A:active, A:visited {
  color: #000;
  text-decoration: none;
}

.thleft>span:nth-child(2n){
  display: none;
}
table.table2 {
  width: 100%;
}
.csprite_dl14 {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -786px -318px;
}
.hb2 {
  margin: 0 auto 0 auto;
  width: 34px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -0px -21px;
}
.hb1 {
  margin: 0 auto 0 auto;
  width: 34px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -0px -10px;
}
.hb10 {
  margin: 0 auto 0 auto;
  width: 34px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -0px -109px;
}
.hb9 {
  margin: 0 auto 0 auto;
  width: 34px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -0px -98px;
}
.hb8 {
  margin: 0 auto 0 auto;
  width: 34px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -0px -87px;
}
.hb7 {
  margin: 0 auto 0 auto;
  width: 34px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -0px -76px;
}
.hb0 {
  margin: 0 auto 0 auto;
  width: 34px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -0px -0px;
}
.search_stat .disabled {
  font-size: 11px;
  border: 1px solid #CFCFCF;
  color: #CFCFCF;
  display: inline;
  text-align: center;
  margin: 2px;
  padding: 5px;
}
.search_stat .active {
  font-size: 11px;
  color: #FFF;
  background-color: #3a5000;
  border: 1px solid #335EA8;
  display: inline;
  text-align: center;
  margin: 2px;
  padding: 5px;
}
.search_stat A {
  font-size: 11px;
  color: #666;
  background-color: #FDFDFD;
  border: 1px solid #3a5000;
  display: inline;
  text-align: center;
  margin: 2px;
  padding: 5px;
}

A:link, A:active, A:visited {
  color: #000;
  text-decoration: none;
}
.search_stat P {
  font-size: 14px;
  color: #666;
  border: 0 solid #3a5000;
  display: inline;
  text-align: center;
  margin: 2px;
  padding: 5px;
}

.csprite_doc_zip {
  display: inline-block;
  width: 32px;
  height: 17px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -232px -18px;
}
.csprite_doc_dir {
  display: inline-block;
  width: 34px;
  height: 18px;
  margin-top: 3px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -34px -0px;
}
.tt-options{
  display:none
}
.csprite_rssfeed {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(images/healthbars/healthbars2.png);
  background-position: -783px -16px;
}
A:link, A:active, A:visited {
  color: #000;
  text-decoration: none;
}

#rightbar span.right {
  float: right;
}
#rightbar div .head {
  background-color: #3e4551;
  color: #e3f1be;
  padding: 5px;
}

#rightbar div div {
  border: 1px solid rgb(22, 68, 22);
  padding: 5px;
  margin-bottom: 0;
}
.card.mt-4.p-4.most-search a {
  font-size: 14px;
  /* margin: 2px; */
  /* border-radius: 0%; */
}
.recentsearch a {
  padding: 0.1rem !important;
}
.search_stat {
  pointer-events: painted;
}
table.table2 a:hover {
  color: red;
  text-decoration: underline;
}
div#rightbar a:hover {
  text-decoration: underline;
}
.card.mt-4.p-4.most-search a:hover {
  text-decoration: underline;
}
input.form-control.mr-sm-2.w-90 {
  width: 90%;
}
.lt-home .lt-categories {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #26211d;
}
ul.lt-categories li {
  /* text-decoration: none; */
  list-style: none;
}
ul.lt-categories li {
  display: inline-flex;
}
a {
  color: inherit;
  text-decoration: none;
}
.lt-search, .lt-logo, .lt-announcements{
display: none;
}
.lt-home .lt-categories {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #26211d;
}
@media (min-width: 1200px){
.lt-home .lt-categories li:not(:last-child) {
    margin: 0 100px 0 0;
}
}
@media (min-width: 576px){
.lt-home .lt-categories li {
    display: inline-block;
}
}

.lt-home .form-search button[type="submit"] {
  padding: 15px 50px;
  background-image: -moz-linear-gradient( 90deg, #3e4551 0%, #3e4551 100%);
  background-image: -webkit-linear-gradient( 
90deg
, #3e4551 0%, #3e4551 100%);
  background-image: -ms-linear-gradient( 90deg, #3e4551 0%, #3e4551 100%);
  color: #5f5f5f;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}
input.form-control.mr-sm-2.w-100.view.overlay.card {
  border: 1px solid #3e4551;
}
input.form-control.mr-sm-2.w-100.view.overlay.card.h-100 {
  cursor: pointer;
}
input.form-control.h-100.mr-sm-2.mr-2 {
  font-size: .81rem;
}
nav.navbar.navbar-expand-lg.navbar-dark.stylish-color-dark.rounded-3 {
  border-radius: 20px 2px 20px 2px;
}
div#rightbar .right {
  display: none;
}
a.links-app-torrent {
  color: #3a5000;
  font-weight: bold;
}
button.btn.btn-danger.btn-sm.btn-floating.rounded-full.waves-effect.waves-light {
  border-radius: 50%;
  padding: 0.5% 1% 0.5% 1%;
}
a.links-app-torrent:hover {
  text-decoration: underline;
}
