<footer class="page-footer stylish-color-dark mt-4 pt-4">
  <!-- Footer Links -->
  <div class="container-fluid">
    <div class="row py-3 d-flex align-items-center">
      <!-- Grid column -->
      
        <div class="mx-auto">
          <!-- Copyright -->
          <p class="text-center text-md-left grey-text">
            <a
              href="https://freetorrents.info"
              target="_blank"
            >
            2021 -  Free Torrents
            </a>
          </p>
          <!-- Copyright -->
        </div>
    
    </div>
  </div>
</footer>
