<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="https://freetorrents.info"><img src="/images/freeTorrent.png" width="100px"/></a>

    <!-- Collapse button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <!-- Dropdown -->
        <li class="nav-item"  id="home">
          <a
            class="nav-link  waves-effect waves-light"
            
            href="/home/"
            >FULL HOME</a
          >

          
        </li>

        <!-- Dropdown -->
        <li class="nav-item" id="browse">
          <a
            class="nav-link  waves-effect waves-light"
            
            href="/browse-torrents/"
            >BROWSE</a
          >

        </li>

        <li class="nav-item" id="new-torrent">
          <a
            class="nav-link  waves-effect waves-light"
            
            href="/latest100"
            >NEW TORRENTS</a
          >

        </li>

        <li class="nav-item" id="top-torrent">
          <a
            class="nav-link  waves-effect waves-light"
            
            href="/top100"
            >TOP 100</a
          >

        </li>
      </ul>
      <!-- Links -->

      <!-- Search form -->
      <form class="form-inline w-100-sm" action="/search" method="post">
        <input
          type="submit"
          value="Search"
          class="btn btn-mdb-color btn-rounded btn-sm my-0 waves-effect waves-light mr-3 h-100"
        />
        <div class="my-0">
          <input
            class="form-control h-100 mr-sm-2 mr-2"
            type="text"
            placeholder="Enter keywords to search"
            name="q"
            value=""
          />
        </div>
        
      </form>
    </div>
    <!-- Collapsible content -->
  </nav>
  <!-- Navbar -->
</header>
