<div class="container">
    <header class="mt-4 mx-auto">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark rounded-3">
            <a class="navbar-brand" href="https://freetorrents.info"></a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
              <!-- Dropdown -->
              <li class="nav-item"  id="home">
                <a
                  class="nav-link  waves-effect waves-light"
                  
                  href="/home/"
                  >FULL HOME</a
                >
      
                
              </li>
      
              <!-- Dropdown -->
              <li class="nav-item" id="browse">
                <a
                  class="nav-link  waves-effect waves-light"
                  
                  href="/browse-torrents/"
                  >BROWSE</a
                >
      
              </li>

              <li class="nav-item" id="new-torrent">
                <a
                  class="nav-link  waves-effect waves-light"
                  
                  href="/latest100"
                  >NEW TORRENTS</a
                >
      
              </li>

              <li class="nav-item" id="top-torrent">
                <a
                  class="nav-link  waves-effect waves-light"
                  
                  href="/top100"
                  >TOP 100</a
                >
      
              </li>
            </ul>
            <!-- Links -->
      
            
          </div>
          <!-- Collapsible content -->
        </nav>
        <!-- Navbar -->
      </header>
      
</div>